*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

.lang{
    width:393px;
    height:40px;
    background: #fff;
    
    
}

.lang button{
    border:2px solid #F04A28;
    
    color:#000;
    font-size:25px;
    top:20px;
    left:750px;
    position:relative;
    
    
}

.lang .btn1{
    padding:8px 15px 8px 15px;
    background: none;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    width:90px;
    height:60px;
    text-align:center;
}

.lang .btn1:focus{
    background :#f04a28;
    color:#fff;
}

.lang .btn2{
    padding:10px 15px 10px 15px;
    background: #f04a28;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    width:90px;
    height:60px;
    margin:5px 0px 0px -4px;
    color:#fff;
}
.lang .btn2:focus{
    background :#f04a28;
    color:#fff;
}
.number{
    width:100%;
    height:550px;
    text-align:center;
    background: #fff;
    margin-top:150px;
}

.number img{
    width:450px;
    display:block;
    margin-right:auto;
    margin-left:auto;
}

.number .phone{
    font-size:36px;
    color:#000;
    opacity:0.4;
    margin-top:-10px;
}

.number .digit{
    font-size:46px;
    margin-top:20px;
}

.pin{
    width:100%;
    height:880px;
    text-align:center;
    margin-top:50px;
}

.pin i{
    font-size:50px;
    color:#f04a28;
    margin-right:10px;
}


.pin .input1{
    width:80%;
    border-style:none;
    border-bottom:1.5px solid #888;
    padding:20px 0px 15px 20px;
    
}

.pin .input1::placeholder{
   font-size:35px;
}

.pin input:focus{
    outline:none;
}

.pin .btn{
    padding:25px 280px 25px 280px;
    font-size:28px;
    background: none;
    border:1.5px solid #f04a28;
    border-radius:50px;
    color:#000;
    
    margin-top:50px;
}

.pin .btn:hover{
    background: #f04a28;
    color:#fff;
}

.pin p{
     font-size:22px;
     margin-top:25px;
     color:#000;
     opacity:0.5;
     
 }
 
 
.footer{
    display:flex;
    justify-content:space-around;
    align-item:center;
    text-align:center;
    
}


.footer span{
    font-size:25px;
    
    
}

.footer i{
    font-size:66px;
    color:#f04a28;
}


